{% form_theme form
    "Form/auto_complete_widget.html.twig"
%}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {{ form_start(form) }}
            {{ form_end(form) }}
        {{ dump() }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

